.container {
  width: 360px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 20px
}

.imageContainer {
  width: '100%';
  height: 187px;
  background: #F5F5F5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para {
  font-size: 16px;
  color: #475E69;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}